@page
@model IndexModel
@{
    ViewData["Title"] = "String Copy";
}

<h1>String Copy</h1>

<form method="post">
    <div class="form-group">
        <label for="inputString">Input the string:</label>
        <input type="text" id="inputString" name="InputString" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Copy String</button>
</form>

@if (!string.IsNullOrEmpty(Model.CopiedString))
{
    <div class="mt-3">
        <p>The First string is: @Model.InputString</p>
        <p>The Second string is: @Model.CopiedString</p>
        <p>Number of characters copied: @Model.CharactersCopied</p>
    </div>
}
